/* style={{ width: "calc(25% - 16px * 3 / 4)" }} */

.card {
  width: calc(20% - 1.25rem * 4 / 5);
  @media (max-width: $mantine-breakpoint-md) {
    width: calc(50% - 1.25rem * 1 / 2);
  }
}


.skeletoncard {
  width: calc(20% - 1.25rem * 4 / 5);
  height:90px;
  @media (max-width: $mantine-breakpoint-md) {
    width: calc(50% - 1.25rem * 1 / 2);
  }
}

